.result {
    padding-bottom: 0.1rem;
    &.selected {
        background: rgba(255,255,255,0.1);

    }
}


button {
    border: 0;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    box-shadow: none;
    background: none;
    color: #fff;
    margin: 0 1px;
    opacity: 0.8;
    &.selected {
        opacity: 1;
    }
}

.row {
    color: rgb(143, 143, 143);
    padding: 0.2rem;
}